body{
    color: #626262;
    font-size: 14px;
    line-height: 21px;
}

.site-navigation{ 
    width:901px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 14px;
    list-style: none;
    text-align: center;
}

.site-navigation a{
    color:#626262;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    font-family: 'Playfair Display', serif;   
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}

.menu-item{
    display: inline-block;
    margin-right: 100px;
}

.menu-item:last-child{
    margin-right: 0;
}

.menu-link{
  display: block;
}

.row-list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.nav-container{
    width: 901px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 98px;
}

.container{
    width: 901px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.row-list-item{
    display: inline-block;
    width: 420px;
    margin-right: 61px;
    margin-bottom: 131px;
    font-family: 'Ubuntu', sans-serif;
}

.row-list-item:nth-last-child(odd){
    margin-right: 0;
}

.row-list-item:nth-last-child(-n+2){
    margin-bottom: 53px;
}

.row-list-title{
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.row-list-item h2{
    line-height: 26px;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.row-list-description{
    line-height: 24px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

.button-load{  
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        width: 163px;
        height: 60px;
        font-size: 20px;
        line-height: 24px;
        font-family: "PlayfairDisplay";
        background-color: #fff;
        color: #626262      
}


