.subscribe-form{
    display: flex;
}

.form-subscribe{
    width: 230px;
    height: 38px;
    font-size: 15px;
    border: 1px solid rgb(231, 231, 231);
    padding: 0;
    border-right: 0;
}

.form-subscribe::placeholder{
    font-size: 14px;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    text-indent: 11px;
}

.button-subscribe{
    width: 149px;
    height: 40px;
    font-size: 14px;
    font-weight: 900;
    background-color: #95e1d3;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(231, 231, 231);
}