@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/montserrat-v14-latin-regular.woff) format('woff'),
    url(../fonts/montserrat-v14-latin-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/montserrat-v14-latin-700.woff) format('woff'),
    url(../fonts/montserrat-v14-latin-700.woff2) format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face{
    font-family: 'Droid Serif', serif;
    src: url(../fonts/DroidSerif-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto Slab', sans-serif;
    src: url(../fonts/roboto-slab-v11-latin-regular.woff) format('woff'),
    url(../fonts/roboto-slab-v11-latin-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

