body{
    font-family: 'Myriad Pro', sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 21px;
}

.site-navigation{
    
    width:901px;
    height: 190px;
    margin: auto;
    padding: 10px 0 10px 40px;
    box-sizing: border-box;
    font-size: 14px;
    list-style: none;
    text-align: center;

}

.site-navigation a{
    color:#626262;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    
}

.menu-item{
    display: inline-block;
    margin-right: 100px;
}

.menu-item:last-child{
    margin-right: 0;
}


.menu-link{
  display: block;
}

.row{
    margin-bottom: 53px;
}
.row-list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    

}

.container{
    width: 901px;
    margin: 0 auto;
}

.row-list-item{
    display: inline-block;
    width: 420px;
    margin-right: 61px;
    margin-bottom: 128px;
}

.row-list-item:nth-last-child(odd){
    margin-right: 0;
}

.row-list-title{
    color: #b4ad9e;
    font-size: 14px;
}

.row-list-item h2{
    line-height: 26px;
    font-size: 24px;
}

.row-list-description{
    line-height: 24px;
    font-size: 14px;
}

.button-load{
        display: block;
        width: 163px;
        height: 60px;
        font-size: 20px;
        line-height: 24px;
        font-family: "PlayfairDisplay";
        color: #626262
        cursor: pointer;       
      }
      
}



/*
.page-header{
    width: 680px;
    margin: auto;
    padding: 10px 0 10px 40px;
}

.menu-item{
    display: inline-block;
    margin-right: 30px;
}


.menu-link{
    display: block;
    width:100px;
    text-align:center;
    text-decoration: none;
    font-size:14px;
    text-transform: uppercase;
}
*/

/* visually-hidden helper */

