$main-font-stack: 'Roboto', sans-serif;

$secondary-font-stack: 'Montserrat', sans-serif;

$describe-font-cursive: 'Kaushan Script', cursive;

$primary-white-color: #ffffff;

$primary-dark-color: #333333;

$secondary-dark-color: #999999;