.content{
    background-color: #FBF281;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    
}

.sidebar{
    background-color: #B8E986;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 40px;
}

.container{
    width: 480px;
}

@media(min-width:768px){
    .container{
        width: 768px;
        display: flex;
    }

    .content{
        height: 200px;
    }

    .sidebar{
        height: 200px;
    }
}